/* Add CSS Styling */
.First.Second{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.First{
    background-color: black;
    color: white;
    font-weight: bold;
}

.Second{
    background-color: yellow;
}